{% extends 'posts/base.html'%}
{% load static %}

{% block content %}
        <!--================Home Banner Area =================-->
        <div class="jumbotron jumbotron-fluid banner">
          <div class="container d-flex justify-content-center flex-column banner-text">
            <h1 class="display-4">Create a Post</h1>
            <p class="lead"><a href="{% url 'index' %}">Home</a></p>
          </div>
        </div>
        <!--================End Home Banner Area =================-->

        <!--================Blog Area =================-->
        <section class="blog_area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">

                        <h2 style="text-align:center;color:blue">Create Post</h2>
                        <div class="blog_left_sidebar">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if form.errors%}
                                <div id="errors">
                                    <div class="inner">
                                        <p style="color:red">Please correct the errors</p>
                                        <ul>
                                            {% for field in form %}
                                            {% if field.errors %}
                                            <li>{{form.label}}: {{form.errors|striptags}}</li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endif %}

                                {% for field in form %}
                                <div class="mt-10">
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <div class="mt-10">
                                    <input type="text" name="tag" placeholder="Tag" onfocus="this.placeholder = ''" onblur="this.placeholder = 'tag'" required class="single-input">
                                </div>
                                <input type="submit" class="btn btn-success" style="float:right; margin-top:30px" value="Add Post">
                            </form>
                        </div>

                    </div>
                    {% include 'posts/sidebar.html' %}
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
{% endblock %}